<template>
  <ul>
    <li>
      <h4>Create Board...</h4>
      <span>A board is made up of cards ordered on lists. Use it to manage projects, track information, or organize anything</span>
    </li>
    <li>
      <h4>Create Team...</h4>
      <span>A team is a group of boards and people. Use it to organize your company, side hustle, family, or friends.</span>
    </li>
  </ul>
</template>

<script>
  export default {
    name: 'Create',
  }
</script>

<style scoped>
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: left;
  }

  h4 {
    margin:10px 0 0 0;
  }

  ul li {
    padding: 6px 12px;
    cursor: pointer;
  }

  ul li:hover {
    background: rgb(56, 169, 212);
    color: #fff;
  }
  ul li span {
    font-size: 1em;
  }
</style>
