<template>
  <ul>
    <li>Profile</li>
    <li>Sign out</li>
  </ul>
</template>

<script>
  export default {
    name: 'Profile',
  }
</script>

<style scoped>
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: left;
  }

  h4 {
    margin:10px 0 0 0;
  }

  ul li {
    padding: 6px 12px;
    cursor: pointer;
  }

  ul li:hover {
    background: rgb(56, 169, 212);
    color: #fff;
  }
  ul li span {
    font-size: 1em;
  }
</style>