<template>
  <div class="wrapper">
    <div class="list-item" @click="toggle()" v-if="active === false">
      <span class="list-item__handle">
        <icon name="plus"></icon>
      </span>
      <span class="list-item__name">Add new card</span>
    </div>

    <div class="add-item-form" v-if="active === true">
      <textarea
        v-model="name"
        name="card-name"
        class="card-name"
        placeholder="Enter a title for this card..."
      />
      <div class="buttons">
        <button class="save-card-title button">Add card</button>
        <span class="close-form" @click="toggle()">x</span>
      </div>
    </div>
  </div>
</template>

<script>
import Icon from 'vue-awesome/components/Icon'
export default {
  data: () => ({
    active: false,
    name: ''
  }),
  props: {
    listId: Number|String,
  },
  methods: {
    toggle: function() {
      this.active = !this.active;
    }
  },
  name: 'AddCardItem',
  components: {
    Icon
  }
}
</script>

<style scoped>
  .wrapper {
    position: relative;
  }

  .list-item {
    background: #fff;
    border-bottom: 1px;
    padding: 5px;
    max-width: 100%;
    max-height: 100px;
    border-bottom: 1px solid #ccc;
    display: flex;
    word-wrap: normal;
    word-break: normal;
    cursor: pointer;
    position: relative;
    font-size: 1em;
    margin-top: -5px;
  }

  .list-item__handle {
    display: flex;
    min-width: 20px;
    text-align: left;
    padding-right: 10px;
    align-items: center;
    justify-content: flex-start;
  }

  .list-item__handle .fa-icon {
    margin-left: 10px;
  }

  .list-item__name {
    flex: 1;
    text-overflow: ellipsis;
  }

  .add-item-form {
    display: flex;
    flex-direction: column;
    width: 96%;
    transform:
  }

  .add-item-form .card-name {
    background: #fff;
    width: 100%;
    min-height: 50px;
    border: none;
    box-shadow: none;
    height: auto;
    margin-bottom: 4px;
    overflow-y: auto;
    padding: 5px;
    word-wrap: break-word;
    resize: none;
    outline: none;
    font-size: 1em;
  }

  .add-item-form .buttons {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    font-size: 1em;
    align-items: center;
    margin: 5px 0;
  }

  .close-form {
    margin-left: 7px;
    font-size: 2em;
    line-height: 20px;
    cursor: pointer;
  }

  /* Animations css */
  .fade-enter-active, .fade-leave-active {
    transition: opacity .1s;
  }
  .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
  }

</style>