<template>
  <div class="board">
    <SubHeader />
    <draggable
      v-model="lists"
      class="board__content"
      :options="{group: 'boards'}"
      @start="drag=true"
      @end="drag=false"
    >
      <List v-for="list in lists" v-bind:key="list.id" v-bind:list="list" />
    </draggable>
  </div>
</template>

<script>
  import draggable from 'vuedraggable'
  import SubHeader from './SubHeader.vue'
  import List from './List.vue'
  import { getBoards } from './../services/items.service';

  export default {
    name: 'Board',
    data: () => ({
      lists: []
    }),
    created: function() {
      this.lists = (getBoards()[0] || []).lists || [];
    },
    components: {
      draggable,
      SubHeader,
      List
    }
  }
</script>

<style  scoped>
  .board {
    width: 100%;
    height: 100%;
  }

  .board__content {
    position: absolute;
    width: 100%;
    height: calc(100% - 115px);
    display: flex;
    overflow: scroll;
    padding: 10px;
    box-sizing: border-box;
  }
</style>

