<template>
  <div class="header">
    <div class="header__left">
      <button class="header__button-big" @click="headerButtonClick($event, 'boards')" >Boards</button>
      <input type="text" class="header__input" />
    </div>
    <div class="header__center">
      <h3>Trello</h3>
    </div>
    <div class="header__right">
      <div class="header__button" @click="headerButtonClick($event, 'add')">
        <icon name="plus"></icon>
      </div>
      <div class="header__button" @click="headerButtonClick($event, 'info')">
        <icon name="info"></icon>
      </div>
      <div class="header__button" @click="headerButtonClick($event, 'notifications')">
        <icon name="bell"></icon>
      </div>
      <div class="header__button" @click="headerButtonClick($event, 'profile')">
        <icon name="user"></icon>
      </div>
    </div>
  </div>
</template>

<script>
import Icon from 'vue-awesome/components/Icon'
import { Bus } from './../main';

export default {
  name: 'Header',
  methods: {
    headerButtonClick: function($event, type) {
      const el = $event.currentTarget || $event.target;
      const { x, y } = el.getBoundingClientRect();
      const payload = { x: parseInt(x, 10), y:parseInt(y ,10), width: el.offsetWidth, height: el.offsetHeight, type };
      Bus.$emit('popoveropen', payload);
    }
  },
  components: {
    Icon
  }
}
</script>

<style>
.header {
  background: #07833a;
  color: #fff;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__left, .header__center, .header__right  {
  flex: 1;
  display: flex;
}

.header__left {
  text-align: left;
  padding-left: 10px;
  box-sizing: border-box;
}

.header__center {
  justify-content: center;
}

.header__right  {
  justify-content: flex-end;
}

.header__input {
  transition: .1s ease;
  background: hsla(0,0%,100%,.3);
  border-radius: 3px;
  color: #f3f3f3;
  font-weight: 700;
  line-height: 20px;
  border: none;
  width: 180px;
  padding: 0 10px;
  outline: none;
}

.header__button, .header__button-big {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .1s ease;
  background: hsla(0,0%,100%,.3);
  border-radius: 3px;
  color: #f3f3f3;
  font-weight: 700;
  line-height: 30px;
  margin-right: 8px;
  min-width: 30px;
  padding: 0;
  text-decoration: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.header__button-big {
  width: 60px;
}

</style>

