<template>
  <div class="list-warpper">
    <div class="list">
      <div class="list__header">
        <span>{{list.name}}</span>
      </div>
      <div class="list__content">
        <draggable
          v-model="list.items"
          :options="draggableOptions"
          @start="drag=true"
          @end="drag=true"
          @clone="cloneOnDrag"
        >
          <ListItem v-for="item in list.items" v-bind:key=item.id v-bind:item=item />
        </draggable>
      </div>
      <div class="list__operations">
        <AddCardItem />
      </div>
    </div>
  </div>
</template>

<script>

import draggable from 'vuedraggable'
import ListItem from './ListItem.vue'
import AddCardItem from './AddCardItem.vue'

export default {
  name: 'List',
  data: () => ({
    drag: false,
    draggableOptions: {
      draggable: '.list-item',
      group: 'people'
    }
  }),
  props: {
    list: Object
  },
  methods: {
    cloneOnDrag: (original) => original
  },
  components: {
    draggable,
    AddCardItem,
    ListItem
  }
}

</script>

<style scoped>
  .list-warpper {
    margin-right: 10px;
    text-align: left;
  }

  .list {
    background: #eee;
    width: 270px;
    min-height: 1px;
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
  }

  .list__header {
    background: #ffffff;
    border-bottom: 1px solid #ccc;
    display: flex;
    align-items: center;
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    padding: 5px;
    font-weight: bold;
  }

  .list__content {
    margin-top: 5px;
    padding: 5px;
    flex: 1;
  }

  .list__operations {
    padding: 0 10px 5px 10px;
  }

</style>

