<template>
  <div class="list-item">
    <span class="list-item__name">{{item.name}}</span>
    <span class="list-item__handle">
      <icon name="pencil-alt"></icon>
      <icon name="arrows-alt"></icon>
    </span>
  </div>
</template>

<script>
import Icon from 'vue-awesome/components/Icon'
export default {
  props: {
    item: Object
  },
  name: 'ListItem',
  components: {
    Icon
  }
}
</script>

<style scoped>
  .list-item {
    background: #fff;
    border-bottom: 1px;
    padding: 5px;
    max-width: 100%;
    max-height: 100px;
    border-bottom: 1px solid #ccc;
    display: flex;
    word-wrap: normal;
    word-break: normal;
    cursor: pointer;
    position: relative;
    margin: 10px 5px;
    font-size: 1em;
  }

  .list-item:hover {
    background: rgba(238, 238, 238, 0.8);
  }

  .list-item:hover .list-item__handle {
    display: flex;
  }

  .list-item.sortable-chosen:hover .list-item__handle {
      display: none;
  }

  .list-item__handle {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    min-width: 50px;
    text-align: right;
    padding-right: 10px;
    align-items: center;
    justify-content: flex-end;
    align-content: space-between;
  }

  .list-item__handle .fa-icon {
    margin-left: 10px;
  }

  .list-item__name {
    flex: 1;
    text-overflow: ellipsis;
  }

</style>