<template>
  <div v-bind:class=className v-bind:style="{ 'left': x + 'px', 'top': y + 'px'}">
    <div class="popover__header">
      <span  class="popover__header__title">{{title}}</span>
      <span class="popover__header__close" @click="closePopup()">X</span>
    </div>
    <div>
      <keep-alive>
        <component :is="currentView"></component>
      </keep-alive>
    </div>
  </div>
</template>

<script>
  import { Bus } from './../main'

  import Create from './popup/Create.vue'
  import Profile from './popup/Profile.vue'
  export default {
    name: 'Popover',
    data: function () {
      return {
        x: -6000,
        y: 0,
        className: 'popover',
        currentView: '',
        title: '',
      }
    },
    methods: {
      calculatePosition: function(data) {
        const { width, height } = screen;
        const isVisibleOnScreenX = data.x + this.$el.offsetWidth < width;
        const isVisibleOnScreenY = data.y + this.$el.offsetHeight < height;

        // calculate the popover location
        this.x = isVisibleOnScreenX
          ? data.x : (data.x - (data.x + this.$el.offsetWidth - width));
        this.y = isVisibleOnScreenY
          ? data.y + data.height : (data.y - (data.y + this.$el.offsetHeight - height));

        // animate the popover
        this.className = `${this.className} fadeIn animated`
        setTimeout(() => this.className = 'popover', 500);
      },

      closePopup: function() {
        this.className = `${this.className} fadeOut animated`
        setTimeout(() => {
          this.className = 'popover';
          this.x = -6000
          this.y = 0
        }, 500);
      },

      getTitle: function(type) {
        switch (type) {
          case 'add':
            return 'Create';
          case 'notifications':
            return 'Notifications';
          case 'info':
            return 'Information';
          case 'profile':
            return 'Information';
        }
      },

      getContent: function(type) {
        switch (type) {
          case 'add':
            return 'Create';
          case 'profile':
            return 'Profile';
          default:
            return 'Create';
        }
      }
    },
    created: function() {
      Bus.$on('popoveropen', function(data) {
        this.calculatePosition(data)
        this.title = this.getTitle(data.type);
        this.currentView = this.getContent(data.type);
      }.bind(this));

      Bus.$on('popoverclose', function() {
        this.closePopup()
      }.bind(this));
    },
    components: {
      Create,
      Profile
    }
  }
</script>

<style scoped>
  .popover {
    background: #eee;
    width: 350px;
    min-height: 40px;
    box-sizing: border-box;
    display: block;
    position: absolute;
    z-index: 100000;
    margin-top: 5px;
  }

  .popover__header {
    background: #ffffff;
    border-bottom: 1px solid #ccc;
    display: flex;
    align-items: center;
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    padding: 5px;
    position: relative;
    font-weight: bold;
  }

  .popover__header__title {
    text-align: center;
    width: 100%;
  }

  .popover__header__close {
    width: 30px;
    text-align: right;
    cursor: pointer;
    position: absolute;
    right: 10px;
  }
</style>

