<template>
  <div class="subheader">
    <div class="subheader__board-title">Testing board</div>
  </div>
</template>

<script>
export default {
  name: 'Subheader'
}
</script>

<style>
.subheader {
  color: #fff;
  width: 100%;
  min-height: 40px;
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
}

</style>

