<template>
  <div id="app">
    <Header v-if=isLogin />
    <popover />
    <div v-bind:class="isLogin ? 'content green' : 'content'">
      <div v-if=isLogin>
        <router-view></router-view>
      </div>
      <Auth v-else />
    </div>
  </div>
</template>

<script>
  import 'vue-awesome/icons'
  import lscache from 'lscache';

  import Header from './components/Header.vue'
  import Popover from './components/Popover.vue'
  import Auth from './components/auth'

  export default {
    name: 'app',
    computed: {
      isLogin: () => {
        return lscache.get('token') !== null;
      }
    },
    components: {
      Auth,
      Header,
      Popover
    }
  }
</script>

<style>
  html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-size: 15px;
  }

  #app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;;
  }
  .content {
    flex: 1;
  }

  .content.green {
    background:#059642;
  }

  .button {
    background: #059642;
    box-shadow: 0 1px 0 #59ac3e;
    color: #fff;
    transition: background .3s ease;
    border: none;
    outline: none;
    line-height: 20px;
    font-weight: bold;
    min-height: 30px;
    padding: 5px 15px;
    box-sizing: border-box;
  }
</style>
