<template>
  <div>
    <login
      v-bind:onPageChange="onPageChange"
      v-if="currentPage == 'login'"
    />
    <forgot
      v-bind:onPageChange="onPageChange"
      v-if="currentPage == 'forgot'"
    />
    <register
      v-bind:onPageChange="onPageChange"
      v-if="currentPage == 'register'"
    />
  </div>
</template>

<script>
  import Login  from './Login.vue'
  import Forgot  from './ForgotPassword.vue'
  import Register  from './Registration.vue'

export default {
    name: 'Auth',
    data: () => ({
      currentPage: 'login'
    }),
    methods: {
      onPageChange: function(page, event) {
        event.preventDefault();
        this.currentPage = page
      },
      onLogin: function(login) {
        console.log('login success')
      }
    },
    components: {
      Forgot,
      Login,
      Register
    }
  }
</script>

<style scoped>

</style>


