<template>
  <div class="login-wrapper">
    <h1>Forgot your password</h1>
    <span class='create-account-text'>or <a href="#" v-on:click="onPageChange('login', $event)">go back to login</a></span>
    <form action="#">
      <div class="form-group">
        <label for="email"> Email </label>
        <input type="email" autocomplete="off" name="email" placeholder="e.g., igotemail@cluj.org.ro" v-model="email" />
      </div>
      <div class="form-group">
        <button class="login">Reset password</button>
      </div>
    </form>
  </div>
</template>

<script>
export default {
  name: 'Forgot',
  props: {
    onPageChange: Function
  },
  data: () => ({
    email: ''
  }),
  methods: {

  }
}
</script>

<style scoped>
.login-wrapper {
  width: 400px;
  margin: 12vh auto;
  text-align: left;
  padding: 2em;
  position: relative;
  font-size: 20px;
  line-height: 1.44em;
}
.form-group {
  margin: 15px 0;
}

h1 {
  height: 100%;
  color: #333;
  font-size: 38px;
  line-height: 48px;
  margin-top: 0;
  margin-bottom: 0;
}

a {
  color: #298fca;
}

label {
  display: block;
}

input {
  display: block;
  margin: 0 0 1.2em;
}

.form-group input {
  background: #edeff0;
  border-radius: 4px;
  border: 1px solid #cdd2d4;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: .5em;
  max-width: 430px;
  width: 100%;
  min-height: 40px;
  font-size: 1em;
}

button.login {
  max-width: 430px;
  width: 100%;
  margin-bottom: 1.2em;
  background: #61bd4f;
  color: #ffffff;
  min-height: 40px;
  font-size: 1em;
}
</style>

