<template>
  <div class="login-wrapper">
    <h1>Login in to Trello</h1>
    <span class='create-account-text'>or <a href="#" v-on:click="onPageChange('register', $event)">create an account</a></span>
    <div class="login-wrapper__error-container">
      <div v-if="errorEmail" class="login-wrapper__error-container__error-box">
        Invalid email address
      </div>
      <div v-if="errorEmail" class="login-wrapper__error-container__error-box">
        Invalid password. The password needs to be 8 characters long and to containe at least
        one small letter, one uppercase and one special character
      </div>
    </div>
    <form action="#" @submit="login">
      <div class="form-group">
        <label for="email"> Email </label>
        <input
          autocomplete="off"
          type="email"
          name="email"
          placeholder="e.g., igotemail@cluj.org.ro"
          v-model="email"
          v-bind:class="errorEmail ? 'error' : ''"
        />
      </div>
      <div class="form-group">
        <label for="password"> Password </label>
        <input
          autocomplete="off"
          type="password"
          name="password"
          placeholder="e.g., ********"
          v-model="password"
          v-bind:class="errorPassword ? 'error' : ''"
        />
      </div>
      <div class="form-group">
        <button class="login">Log In</button>
        <span class='forgot-password'>
          <a href="#" v-on:click="onPageChange('forgot', $event)">Forgot your password?</a>
        </span>
      </div>
    </form>
  </div>
</template>

<script>
import { validateEmail, isEmpty } from './../../services/validation.service';
import { loginUser } from './../../services/login.service';

export default {
  name: 'Login',
  props: {
    onPageChange: Function
  },
  data: () => ({
    email: '',
    password: '',
    errorEmail: false,
    errorPassword: false,
  }),
  methods: {
    login: function(e) {
      e.preventDefault();
      this.errorEmail = false;
      this.errorPassword = false;

      if (!validateEmail(this.email)) {
        this.errorEmail = true;
      }

      if (isEmpty(this.password)) {
        this.errorPassword = true;
      }

      if(!this.errorEmail && !this.errorPassword) {
        // @TODO validate this user on the BE
        if (loginUser(this.email, this.password)) {
          window.location.href = '/';
        } else {
          this.errorEmail = true;
          this.errorPassword = true;
        }
      }
    }
  }
}
</script>

<style scoped>
.login-wrapper {
  width: 400px;
  margin: 12vh auto;
  text-align: left;
  padding: 2em;
  position: relative;
  font-size: 20px;
  line-height: 1.44em;
}

.login-wrapper__error-container {
  font-size: 1em;
  color: #fff;
}

.login-wrapper__error-container__error-box {
  background: #fd4545;
  border: 1px solid #b60606;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: .8em;
  margin: .3em 0;
  box-sizing: border-box;
}

.form-group {
  margin: 15px 0;
}

h1 {
  height: 100%;
  color: #333;
  font-size: 38px;
  line-height: 48px;
  margin-top: 0;
  margin-bottom: 0;
}

a {
  color: #298fca;
}

label {
  display: block;
}

input {
  display: block;
  margin: 0 0 1.2em;
}

.form-group input {
  background: #edeff0;
  border-radius: 4px;
  border: 1px solid #cdd2d4;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: .5em;
  max-width: 430px;
  width: 100%;
  min-height: 40px;
  font-size: 1em;
}

.form-group input.error {
  border: 1px solid red;
}

button.login {
  max-width: 430px;
  width: 100%;
  margin-bottom: 1.2em;
  background: #61bd4f;
  color: #ffffff;
  min-height: 40px;
  font-size: 1em;
}
</style>

